<div class="page-header">
  <%= link_to companies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Indietro
  <% end %>
  <%= link_to @company, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Visualizza
  <% end %>
  <h1>Modifica Azienda</h1>
</div>

<%= render 'form' %>
