<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Modifica
  <% end %>
  <%= link_to @product, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Visualizza
  <% end %>
  <h1>Modifica Prodotto</h1>
</div>

<%= render 'form' %>
